@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Slab&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  touch-action: none;
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: "Roboto Slab";
  scroll-behavior: smooth;
  font-size: 1.4em;
}

@media (min-width: 320px) {
  html {
    font-size: 1.7em;
  }
}

@media (min-width: 769px) {
  html {
    font-size: 2.5em;
  }
}

body, #__next {
  margin: 0;
  height: 100%;
  width: 100%;
}
